{
  "presets": [
    ["es2015", { "loose": true }]
  ],
  "plugins": [
    "transform-export-extensions",
    "transform-object-rest-spread",
    "transform-flow-strip-types",
    "transform-async-to-generator"
  ]
}
